#container{
	margin: 0 auto;
	width: 60%;
	height: 300px;
}
#login{
	float: left;
	width: 30%;
	line-height: 30px;
}
#login-1{
	height: 200px;
	border: 1px solid lightgray;
}
#register{
	width: 65%;
	float: right;
	line-height: 30px;
	margin-right: 20px;
}
#register-1{
	border: 1px solid lightgray;
	height: 200px;
}
.firstname{
	float: left;
}
div{
	margin-left: 5px;
}
h2{
	margin-top: 10px;
}
span{
	color: red
}
@media screen and (max-width: 1280px){
	#container{
		margin: 0 auto;
		width: 50%;
}
	#login{
		width: 34%;
		float: left;
}
	#register{
		width: 59%;
		float: right;
}
@media screen and (max-width: 768px){
	#container{
		margin: 0 auto;
		width: 24%;
		height: 550px;
}
	#login{
		width: 95%;
		float: left;
		line-height: 20px;
		
}
	#register{
		width: 95%;
		float: left;
		line-height: 20px;
		
}
}
