#container{
	margin: 0 auto;
	width: 50%;
	height: 300px;
	border: 1px solid lightgray;
}
#login{
	width: 55%;
	margin: 1%;
	float: left;
	line-height: 30px;
	border: 1px solid lightgray;
}
#register{
	width: 40%;
	float: left;
	margin: 1%;
	line-height: 30px;
	border: 1px solid lightgray;
}
span{
	color: red
}
@media screen and (max-width: 1280px){
	#container{
		margin: 0 auto;
		width: 40%;
}
	#login{
		width: 45%;
		margin: 1%;
		float: left;
		line-height: 25px;
		border: 1px solid lightgray;
}
	#register{
		width: 44%;
		float: left;
		margin: 1%;
		line-height: 20px;
		border: 1px solid lightgray;
}
}
@media screen and (max-width: 768px){
	#container{
		margin: 0 auto;
		width: 24%;
		height: 550px;
}
	#login{
		width: 95%;
		margin: 1%;
		float: left;
		line-height: 25px;
		border: 1px solid lightgray;
}
	#register{
		width: 95%;
		float: left;
		margin: 1%;
		line-height: 20px;
		border: 1px solid lightgray;
}
}
